---
import "../styles/global.css"; 
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Astro Website</title>
  </head>
  <body>
  
     
      <h1> Welcome to my Website</h1>
      <p>This paragraph is blue</p>
      <p id ="red-p"> This paragraph is red</p>
      <h2>This is subheading</h2>

      <ul>
        <li> My favorite colour is Navy Blue </li>
        <li>My favorite movie is Monalisa Smile</li>
        <li>A Website I often visit is <a href="#"> Griffith Moodle</a></li>
      </ul>
  

   <main>
  <h2>Here is a picture I found on the internet</h2>
  <img src="/my.png" alt="A little girl" class="my-img">
</main>

       
    

 
  </body>
</html>
